.main {
    width: 960px;
    min-height: 300px;
    margin: 0 auto;
    padding: 30px 0 30px;;
}

.main.wide {
    width: 1026px;

}

h1#tutorialTitle {
    text-align: center;
    margin-bottom: 30px;
}

h2#tutorialSubTitle {
    text-align: center;
    margin-bottom: 30px;
    display: block;
}

#logsContainer {
    width: 100%;
}

#pluginContainer {
    position: fixed;
    left: -10px;
    width: 2px;
}

#installBtn {
    margin: 10px auto;
    display: none;
    width: 150px;
}

#initProgressBar {
    width: 360px;
    margin-bottom: 10px;
}

.clearer {
    clear: both;
}

.ctrl-wrapper {
    margin-bottom: 10px;
}

.ctrl-wrapper label, .ctrl-wrapper .ctrl {
    float: left;
    margin-right: 5px;

}

.ctrl-wrapper label {
    width: 140px;
    display: block;
    padding-top: 3px;
}

.ctrl-wrapper .ctrl {
    width: 300px;
}

#micActivityBar {
    height: .8em;
}

.render-widget {
    margin: 0 5px 10px;
    float: left;
    width: 332px;
}

.render-wrapper {
    width: 320px;
    height: 240px;
    padding: 5px;
    border: 1px solid #333;
    background: #999;
}

.rendering-wrapper, #tut4CtrlWrapper {
    width: 684px;
    margin: 0 auto 20px;
    position: relative;
}

.main.wide .rendering-wrapper {
    width: 1026px;
}

.windowed-windowless-showcase {
    position: absolute;
    width: 128px;
    height: 128px;
    background: rgba(255, 0, 0, 0.5);
    z-index: 100;
    top: 225px;
    left: 280px;
}

#templatesContainer {
    display: none;
}

.no-video-text {
    display: none;
}

#scopeIdTxtField {
    margin-top: 5px;
}

.muted-indicator {
    display: none;
}